<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.chip.ios"
        version="1.0">

  <name>CordovaChipPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="com.ashera.chip.ios">
        	<param name="ios-package" value="CordovaChipPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start ios -->
     <header-file src="ios/src/ChipGroupImpl.h" target-dir="Chip/ios/src"/>
     <source-file src="ios/src/ChipGroupImpl.m" target-dir="Chip/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ChipImpl.h" target-dir="Chip/ios/src"/>
     <source-file src="ios/src/ChipImpl.m" target-dir="Chip/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ChipPlugin.h" target-dir="Chip/ios/src"/>
     <source-file src="ios/src/ChipPlugin.m" target-dir="Chip/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/CordovaChipPlugin.h" target-dir="Chip/ios/src"/>
     <source-file src="ios/src/CordovaChipPlugin.m" target-dir="Chip/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start tsc -->
     <source-file src="tsc/src/ios/widget/ChipGroupImpl.ts" target-dir="tsc/src/ios/widget"/>
     <source-file src="tsc/src/ios/widget/ChipImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
  </platform>

</plugin>